.modal {
  position: fixed;
  top: 0;
  color: black;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 50vw;
  height: 50vh;
  top: 10px;
  left: 10px;
  //   transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
