html {
  background: #242c2e;
  color: #f5f5f5;
}
.homePage {
  background-color: pink;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
#infoContainer {
  width: 70%;
  margin: auto;
  padding: 50px;
}

.appPageTable {
  display: flex;
}

.infoBox {
  //background-color: rgb(231, 223, 224);
  border: solid black 1px;
  margin: 10px;
  padding: 25px;
  width: 100%;
}
