.DependencyChart {
  background: #f5f5f5;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  display: inline-block;
  width: 90%;

  .table {
    border-radius: 100px;
  }
  .headerCell {
    color: #cb4636;
    font-size: 1em;
    a:link,
    a:visited {
      color: #cb4636;
    }
  }

  .cell {
    color: #1c2426;
  }
}
