.DependencyChart {
  background: #187d94;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  display: inline-block;
  width: 90%;

  .headerCell {
    color: #c3a51d;
    font-size: 1em;
    a:link,
    a:visited {
      color: #c3a51d;
    }
  }
  .cell {
    color: #1c2426;
  }
}
