.container {
  transform: translateY(-100%);
  color: #f5f5f5;
  background: #242c2e;
}
.alert {
}

.drop-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 800px;
  height: 200px;
  border: 4px dashed #63d4e7;
}

.drop-message {
  text-align: center;
  color: #f5f5f5;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 20px;
}
