.title {
  font-size: 6rem;
  text-align: center;
  color: #63d4e7;
  font-weight: bold;
}

.content {
  min-height: 100vh;
  // background: url('../images/atriom-bg.png') no-repeat center center fixed;
  // background: radial-gradient(
  //   circle,
  //   rgba(12, 29, 36, 1) 0%,
  //   rgba(23, 43, 54, 1) 100%
  // );

  background: radial-gradient(
    circle,
    rgb(8, 20, 26) 0%,
    rgb(16, 30, 37) 100%
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  // padding-bottom: 20vh;
}

#DZLogo {
  margin-bottom: 10vh;
}
