.drop-container {
  display: flex;
  align-items: center;
  // align-items: flex-end;
  justify-content: center;
  margin: 0;
  width: 750px;
  height: 150px;
  // border: 4px dashed #63d4e7;
  border: 4px dashed #42c3b9;
  margin-bottom: 20vh;
  position: relative;
}

.drop-message {
  text-align: center;
  font-size: 20px;
}

.sample {
  position: absolute;
  top: 13em;
  cursor: pointer;
  border: 2px solid #42c3b9;
  border-radius: 5px;
  padding: 20px;

  &:hover {
    color: #42c3b9;
  }
}
