.title {
  font-size: 6rem;
  text-align: center;
  color: #63d4e7;
  font-weight: bold;
}

.content {
  min-height: 100vh;
  background: url('../images/atriom-bg.png') no-repeat center center fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  // padding-bottom: 20vh;
}
