.FlowContainer {
  height: calc(100vh - 64px);
  width: 100vw;
  // background-color: #1c2426;
  // background: rgb(12,29,36);
  background: radial-gradient(
    circle,
    rgba(12, 29, 36, 1) 0%,
    rgba(23, 43, 54, 1) 100%
  );
}

.AppContainer {
  height: 475px;
  width: 375px;
}

.AppNode {
  // background-color: grey;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AppNode-label {
  color: white;
}

.ModuleNode {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  p {
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 1px #ece2bc;
  }
}

.ModuleNode-file {
  list-style: none;
  margin-left: 20px;
}

.AppKey {
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  display: inline-block;
  padding: 15px 18px;
}

.AppKey-key {
  display: flex;
  margin: 3px 0;
  align-items: center;
}

.AppKey-color {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  margin-right: 10px;

}
